.heading{
    font-size: 20px;
    width: 100%;
    margin: 0px;
    background-color: pink;
    color: #E0115f;
}
.note {
    font-size: 14px;
    color: royalblue;
}
.note2 {
    font-size: 12px;
    color: royalblue;
}
body{
    background-size: cover;
}
.song_head{
    color: hotpink;
    background-color: white;
    width: 150px;
    height: 35px;
    border-radius: 100px;
    text-align: center;
    margin: 10px;
}

canvas {
        border-radius: 20px;
        margin-top: 150px;
        box-shadow: 5px 5px 5px grey;
        border: 5px solid white;
    }
